<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!--To
        inherit the global NuGet package sources remove the <clear/> line below -->
        <clear />
        <add key="Nexus" value="https://nexus.local.sleepingbearsystems.net/repository/nuget-group/index.json" />
        <add key="NexusHosted" value="https://nexus.local.sleepingbearsystems.net/repository/nuget-hosted/" />
    </packageSources>
    <packageSourceCredentials>
        <Nexus>
            <add key="Username" value="%NEXUS_USR%" />
            <add key="ClearTextPassword" value="%NEXUS_PSW%" />
        </Nexus>
        <NexusHosted>
            <add key="Username" value="%NEXUS_USR%" />
            <add key="ClearTextPassword" value="%NEXUS_PSW%" />
        </NexusHosted>
    </packageSourceCredentials>
</configuration>
